body{
	
	background-image:url(book.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.art{
	float :left;
	padding-top: 5px;
	padding-left: 250px;
	
}
.text{
	float:left;
padding-left:130px;
padding-top: 8px;
font-family: 'Pacifico', cursive;
}
.t{
	float:left;
	padding-left:230px;
	padding-top: 4px;
	font-family: 'Pacifico', cursive;
	font-size: 20px


}

footer{
	padding-left: 850px;
	padding-top: 400px;
}
.side{
	padding-left:170px;
	padding-top:16px;
	width:100px;

}